<header class="darkheader">
    <div class="darkheader__content">
        <div class="darkheader__left">
            <div class="darkheader__logo">
                <a href="#" aria-label="Лого">
                    <svg class="main__logoblack">
                        <use xlink:href="#icon-logoblack"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="darkheader__middle">
            <ul class="darkmenu">
                <li class="darkdarkmenu__option">
                    <a href="#" class="darkdarkmenu__link">
                        <svg class="darkmenu__socials">
                            <use xlink:href="#icon-instblack"></use>
                        </svg>
                    </a>
                </li>

                <li class="darkmenu__option">
                    <a href="#" class="darkmenu__link">
                        <svg class="darkmenu__socials">
                            <use xlink:href="#icon-facebookblack"></use>
                        </svg>
                    </a>
                </li>

                <li class="darkmenu__option">
                    <a href="#" class="darkmenu__link">
                        <svg class="darkmenu__socials">
                            <use xlink:href="#icon-telegramblack"></use>
                        </svg>
                    </a>
                </li>

                <li class="darkmenu__option">
                    <a href="#" class="darkmenu__link darkmenu__button">
                            <svg class="darknut" xmlks="http://www.w3.org/2000/svg" xml:lang="en" 
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">
                                <title>Circular text</title>
                                <defs>
                                    <path id="textcircle" d="M250, 400, a150, 150 0 0, 1 0,
                                    -300a150, 150 0 0, 1 0, 300Z" transform="rotate(12, 250, 250)" />
                                </defs>
            
                                <g class="textcircle">
                                    <text class="darktext" textLength="940">
                                        <textpath xlink:href="#textcircle"
                                                  textLength="940">
                                                MENU MENU MENU MENU MENU ;
                                        </textpath>
                                    </text>
                                </g>

                                <div>
                                    <svg class="darkmenu__logo">
                                        <use xlink:href="#icon-menublack"></use>
                                    </svg>   
                                </div>
                            </svg>
                    </a>
                </li>

                <li class="darkmenu__option">
                    <a href="#" class="darkmenu__link">Ру</a>
                </li>

                <li class="darkmenu__option">
                    <a href="#" class="darkmenu__link">O'z</a>
                </li>

                <li class="darkmenu__option">
                    <a href="#" class="darkmenu__link">En</a>
                </li>
            </ul>
        </div>

        <div class="darkheader__right">
            <div class="darkheader__phone">
                <a href="tel:998977766692" class="darkphone__link">+998 (97) 776-66-92</a>
            </div>
        </div>
    </div>
</header>